@{
    ViewBag.Title = "鲜香园  自然新鲜当然更美味";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .index_page_searchbox .search_popupmenu{top:39px;}
.box,.box10,.box20,.box5-10,.box10-5,.box10-20,.box20-10,.box-list,.box-tab {border-radius: 4px; background: #fff; overflow: hidden; zoom: 1; }
.box-s,.box10-s,.box20-s,.box5-10-s,.box10-5-s,.box10-20-s,.box20-10-s,.box-list-s.box-tab-s { box-shadow: 0 5px 10px #bdbdbd; }
.box10 { padding: 10px; }
.box20 { padding: 20px; }
.box5-10 { padding: 5px 10px; }
.box10-5 { padding: 10px 5px; }
.box10-20 { padding: 10px 20px; }
.box20-10 { padding: 20px 10px; }
.box-f60 { border-color: #f60; }
.box-tab { border-top-left-radius: 0; }
.box-none { border: none; border-radius: 0; }
.clear { clear: both; height: 0px; line-height: 0px; font-size: 0px; }
.clearfix { *zoom: 1; }
.clearfix:after,.clearfix:before { content: ''; display: table; height: 0px; line-height: 0px; font-size: 0; }
.clearfix:after { clear: both; }/**box**/
.index .box { width: 100%;}
.index .box .title { height: 38px; position: relative;}
.index .box .title h1 { font-family: 'microsoft yahei';color: #2b2b2b; font-size: 18px; }
.index .box .title .more { position: absolute; right: 0; top:0;}
.index .box .title .more a{color:#0e6596}
.index .box .content {  margin-bottom: 30px;}

/**新鲜出炉 fresh**/
.index .fresh {}
.index .fresh li {  float: left; padding-right: 37px; width: 196px; padding-bottom: 40px;font-family: 'microsoft yahei';}
.index .fresh li .image { display: inline-block; margin-bottom: 5px; width: 196px; height: 196px;}
.index .fresh li .image img { width: 196px; height: 196px;}
.index .fresh li h2 { color: #555; font-size: 14px; font-weight: 100; height: 25px; line-height: 25px; overflow: hidden; }
.index .fresh li p { font-size: 12px; color: #666;line-height: 25px; padding-bottom: 5px;}
.index .fresh li p span.name { width: 96px; height: 25px; margin-right: 10px; float: left;word-break:keep-all;white-space:nowrap;overflow: hidden;}
.index .fresh li p span.from { width: 90px; float: left; text-align: right;}
.index .fresh li a.like { font-size: 14px; line-height: 20px; min-width: 35px; display: inline-block; height: 20px; padding: 2px 10px 2px 40px; background: #94cf72 url(../images/index/index_icon.png) no-repeat 8px -38px; color: #fff; cursor: default; }
.index .fresh li a:hover.like {/*background-color: #ff6c00; color: #fff;*/ text-decoration: none;}
/**布局**/
.index { text-align: left;}
.index .container { margin: 25px auto;}
.index .pageLeft { float: left; width: 662px; padding-right: 44px; }
.index .pageRight { float: left; width: 290px; }
.index h1,.index h2,.index h3{ font-weight: 100;}
/**目的地 destination**/
.index .destination {}
.index .destination li { float: left; width: 312px; padding-right: 38px;}
.index .destination li .image { width: 312px; height: 176px; margin-bottom: 20px;}
.index .destination li .image .recommend_image{height:176px;overflow:hidden;margin-bottom:20px;}
.index .destination li .image .recommend_author{color:#ffffff;font-size:11px;font-weight:normal;font-family:'microsoft yahei',sans-serif;display:none;position:relative;padding:6px;background:url(../images/scene/scene_alpha_3.png) repeat-x;}
.index .destination li .image .recommend_author a{color:#ffffff;}
.index .destination li .image img { width: 312px; height: 176px;}
.index .destination li .name { position: relative; height: 30px; }
.index .destination li .name h2{ color: #2b2b2b; font-weight: bold; font-size: 16px; height: 18px; line-height: 18px; overflow: hidden; }
.index .destination li .name .weather { position: absolute; right: 0; top:0; font-size: 12px;}
.index .destination li .intro { color: #9c9c9c; line-height: 20px;}
.index .destination li .intro a {color: #9c9c9c;}
.index li.last { padding-right: 0;}
.h20 { height: 20px; }
.right_col_bit { margin-bottom: 20px; padding: 20px; border: 1px solid #bdbdbd; border-radius: 4px; }
.right_col_bit h3 { border-bottom: 1px solid #eee; padding-bottom: 5px; margin-bottom: 10px; }
    .span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12, .span13, .span14, .span15, .span16 {
        float: left;
        min-height: 1px;
        margin-left: 20px;
        display: inline;
    }
      .container{
        width: auto;
        margin: 0;
    }
.index {
  text-align: left;
}
/*li布局*/
.wrap {
  width: 100%;
  height: auto;
  min-width: 996px;
  position: relative;
  z-index: 0;
}
.clearfix { *zoom: 1; }
/*清除浮动*/
.clear { clear: both; height: 0px; line-height: 0px; font-size: 0px; }
.clearfix { *zoom: 1; }
.clearfix:after,.clearfix:before { content: ''; display: table; height: 0px; line-height: 0px; font-size: 0; }
.clearfix:after { clear: both; }
/**活动 event**/

.index .event {}
.index .event li { float: left; padding-bottom: 16px;}
.index .event li .image { width:50px; height: 50px; float: left; margin-right: 12px;}
.index .event li .image img { width: 50px; height: 50px;}
.index .event li .text { float: left;  width:228px;}
.index .event li .text h3 { width:228px; height: 30px; font-size: 14px; font-weight: 100; color: #2b2b2b; word-break:keep-all;white-space:nowrap;text-overflow:ellipsis; overflow:hidden;}
.index .event li .text p {font-size: 12px; color: #9c9c9c;line-height: 20px;}
.index .event li .text p span { padding-right: 15px;}
</style>
<div class="wrap index">
    <div class="clearfix" style="margin: 25px auto; width: 996px; text-align: left;">
        <div class="pageLeft">
            <!--官方推荐-->
            <div class="box destination">
                <div class="title">
                    <h1>鲜农故事</h1>
                </div>
                <div class="content clearfix">
                    <ul>
                        <li>
                            <div class="image">
                                <div class="recommend_image">
                                    <a href="http://www.doyouhike.net/dest/Cappadocia" title=""><img src="http://c1.zdb.io/files/recommend/2015/05/05/f/f5c4fea61234d9b48ffe657e0bb54b50.jpg" alt="卡帕多西亚"></a>
                                    <div class="recommend_author">
                                        来自：洋淘湖农场
                                    </div>
                                </div>
                            </div>
                            <div class="name">
                                <h2><a href="http://www.doyouhike.net/dest/Cappadocia" title="">洋淘湖农场</a></h2>
                            </div>
                            <p class="intro"><a href="http://www.doyouhike.net/dest/Cappadocia" title="西极洞庭">坐落于湘北西洞庭边的富饶小镇，晨间,泛舟湖上,体验西极洞庭湖水之美,午时，品尝河水焖甲鱼的清香,午后小镇闲逛，感受的湖区鱼米之乡的繁华！</a></p>
                        </li>
                        <li class="last">
                            <div class="image">
                                <div class="recommend_image">
                                    <a href="http://www.doyouhike.net/dest/yili" title=""><img src="http://c1.zdb.io/files/recommend/2015/05/05/e/e805d9730a188f2fc9b93d46288cc2d7.jpg" alt="伊犁"></a>
                                    <div class="recommend_author">
                                        来自：kelly
                                    </div>
                                </div>
                            </div>
                            <div class="name">
                                <h2><a href="http://www.doyouhike.net/dest/yili" title="">新疆伊犁</a></h2>
                            </div>
                            <p class="intro"><a href="http://www.doyouhike.net/dest/yili" title="">骏驰西域，一路向西，去伊犁看花开成海，喀拉峻草原如茵，霍城薰衣草迷人紫色，伊犁河绝美日落。</a></p>
                        </li>

                    </ul>
                </div>
            </div>
            <!--农鲜直达-->
            <div class="box fresh ">
                <div class="title">
                    <h1>农鲜直达</h1>
                </div>
                <div class="content ">
                    <ul class="clearfix">
                        <li>
                            <a href="http://www.doyouhike.net/forum/cycling/2284669,0,0,0.html" class="image" title=""><img src="http://c1.zdb.io/files/recommend/2015/05/08/e/e36aa2ebd72af643f5f491f4545a7911.jpg" alt=""></a>
                            <h2><a href="http://www.doyouhike.net/forum/cycling/2284669,0,0,0.html" title="">邂逅失落的骑楼，益骑中国海口车友嘉年华</a></h2>
                            <p class="clearfix">
                            </p><div class="h20 fl overflow pb5" style="width:90px;">
                                <a href="###" class="info_user pr16" title="益骑中国" rel="info_user_1189765">益骑中国</a>
                            </div>
                            <div class="h20 fr overflow pb5 tr" style="width:106px;">
                                来自： <a title="自行车" href="http://www.doyouhike.net/forum/cycling/">自行车</a>
                            </div>
                            <p></p>
                            <a href="javascript:void(0)" class="like" title="">549</a>
                        </li>
                        <li>
                            <a href="http://www.doyouhike.net/forum/nature/2285376,0,0,1.html" class="image" title=""><img src="http://c1.zdb.io/files/recommend/2015/05/08/2/2825fef6c8ba67a590cda1eaee64868a.jpg" alt=""></a>
                            <h2><a href="http://www.doyouhike.net/forum/nature/2285376,0,0,1.html" title="">草木有情，那些花花绿绿的果实</a></h2>
                            <p class="clearfix">
                            </p><div class="h20 fl overflow pb5" style="width:90px;">
                                <a href="###" class="info_user pr16" title="桐壶更衣" rel="info_user_126827">桐壶更衣</a>
                            </div>
                            <div class="h20 fr overflow pb5 tr" style="width:106px;">
                                来自： <a title="自然" href="http://www.doyouhike.net/forum/nature/">自然</a>
                            </div>
                            <p></p>
                            <a href="javascript:void(0)" class="like" title="">2243</a>
                        </li>
                        <li class="last">
                            <a href="http://www.doyouhike.net/forum/junior/topics/2280723,0,0,0.html" class="image" title=""><img src="http://c1.zdb.io/files/recommend/2015/05/08/b/b7e9a24b9846d80d2ae02aed466064a9.jpg" alt=""></a>
                            <h2><a href="http://www.doyouhike.net/forum/junior/topics/2280723,0,0,0.html" title="">春雨狂瀑--10岁萌娃跳瀑布 </a></h2>
                            <p class="clearfix">
                            </p><div class="h20 fl overflow pb5" style="width:90px;">
                                <a href="###" class="info_user pr16" title="wfengliu" rel="info_user_510983">wfengliu</a>
                            </div>
                            <div class="h20 fr overflow pb5 tr" style="width:106px;">
                                来自： <a title="水上运动" href="http://www.doyouhike.net/forum/aqua/">水上运动</a>
                            </div>
                            <p></p>
                            <a href="javascript:void(0)" class="like" title="">2735</a>
                        </li>
                        <li>
                            <a href="http://www.doyouhike.net/forum/globe/2277346,0,0,0.html" class="image" title=""><img src="http://c1.zdb.io/files/recommend/2015/05/08/6/63dba7d7b4a8463ec95a2ad5aeba12c2.jpg" alt=""></a>
                            <h2><a href="http://www.doyouhike.net/forum/globe/2277346,0,0,0.html" title="">环游印度60天</a></h2>
                            <p class="clearfix">
                            </p><div class="h20 fl overflow pb5" style="width:90px;">
                                <a href="###" class="info_user pr16" title="圆_缘" rel="info_user_900604">圆_缘</a>
                            </div>
                            <div class="h20 fr overflow pb5 tr" style="width:106px;">
                                来自： <a title="异域之旅" href="http://www.doyouhike.net/forum/globe/">异域之旅</a>
                            </div>
                            <p></p>
                            <a href="javascript:void(0)" class="like" title="">1742</a>
                        </li>
                        <li>
                            <a href="http://www.doyouhike.net/forum/backpacking/2285876,0,0,1.html" class="image" title=""><img src="http://c1.zdb.io/files/recommend/2015/05/08/a/ab8a5b85dd8120eb6b43ddbf51a3b6a9.jpg" alt=""></a>
                            <h2><a href="http://www.doyouhike.net/forum/backpacking/2285876,0,0,1.html" title=""> 那一抹山水，那一陇苗寨！</a></h2>
                            <p class="clearfix">
                            </p><div class="h20 fl overflow pb5" style="width:90px;">
                                <a href="###" class="info_user pr16" title="慕文.山野" rel="info_user_344388">慕文.山野</a>
                            </div>
                            <div class="h20 fr overflow pb5 tr" style="width:106px;">
                                来自： <a title="长假远行" href="http://www.doyouhike.net/forum/backpacking/">长假远行</a>
                            </div>
                            <p></p>
                            <a href="javascript:void(0)" class="like" title="">2154</a>
                        </li>
                        <li class="last">
                            <a href="http://www.doyouhike.net/forum/photo/2284465,0,0,7.html" class="image" title=""><img src="http://c1.zdb.io/files/recommend/2015/05/08/1/1a6419c5d67bd614edc8f82221646394.jpg" alt=""></a>
                            <h2><a href="http://www.doyouhike.net/forum/photo/2284465,0,0,7.html" title="">美丽大川西，醉梦藏江南</a></h2>
                            <p class="clearfix">
                            </p><div class="h20 fl overflow pb5" style="width:90px;">
                                <a href="###" class="info_user pr16" title="丙酮" rel="info_user_313530">丙酮</a>
                            </div>
                            <div class="h20 fr overflow pb5 tr" style="width:106px;">
                                来自： <a title="驴光掠影" href="http://www.doyouhike.net/forum/photo/">驴光掠影</a>
                            </div>
                            <p></p>
                            <a href="javascript:void(0)" class="like" title="">1694</a>
                        </li>
                        <li>
                            <a href="http://www.doyouhike.net/forum/canyoning/2285216,0,0,1.html" class="image" title=""><img src="http://c1.zdb.io/files/recommend/2015/05/08/5/57b85b087a9ab55df0d40e8c4766d6b4.jpg" alt=""></a>
                            <h2><a href="http://www.doyouhike.net/forum/canyoning/2285216,0,0,1.html" title="">神秘的马料村和东马古道</a></h2>
                            <p class="clearfix">
                            </p><div class="h20 fl overflow pb5" style="width:90px;">
                                <a href="###" class="info_user pr16" title="鹰歌" rel="info_user_53049">鹰歌</a>
                            </div>
                            <div class="h20 fr overflow pb5 tr" style="width:106px;">
                                来自： <a title="溪涧运动" href="http://www.doyouhike.net/forum/canyoning/">溪涧运动</a>
                            </div>
                            <p></p>
                            <a href="javascript:void(0)" class="like" title="">1084</a>
                        </li>
                        <li>
                            <a href="http://www.doyouhike.net/forum/discover_suzhou/2286094,0,0,1.html" class="image" title=""><img src="http://c1.zdb.io/files/recommend/2015/05/08/c/c07be1eff1bb1f22869efb3d23d12b7b.jpg" alt=""></a>
                            <h2><a href="http://www.doyouhike.net/forum/discover_suzhou/2286094,0,0,1.html" title="">发现苏州之坑萌基与深基坑的荒谬作业</a></h2>
                            <p class="clearfix">
                            </p><div class="h20 fl overflow pb5" style="width:90px;">
                                <a href="###" class="info_user pr16" title="elona" rel="info_user_266896">elona</a>
                            </div>
                            <div class="h20 fr overflow pb5 tr" style="width:106px;">
                                来自： <a title="发现苏州" href="http://www.doyouhike.net/forum/discover_suzhou/">发现苏州</a>
                            </div>
                            <p></p>
                            <a href="javascript:void(0)" class="like" title="">1347</a>
                        </li>
                        <li class="last">
                            <a href="http://www.doyouhike.net/forum/photo/2284376,0,0,1.html" class="image" title=""><img src="http://c1.zdb.io/files/recommend/2015/05/08/b/bfba54c8e95932ccc9aefbee0eb168e7.jpg" alt=""></a>
                            <h2><a href="http://www.doyouhike.net/forum/photo/2284376,0,0,1.html" title="">龙脊梯田，大山里的别致韵律</a></h2>
                            <p class="clearfix">
                            </p><div class="h20 fl overflow pb5" style="width:90px;">
                                <a href="###" class="info_user pr16" title="飞天篮球猪" rel="info_user_543651">飞天篮球猪</a>
                            </div>
                            <div class="h20 fr overflow pb5 tr" style="width:106px;">
                                来自： <a title="驴光掠影" href="http://www.doyouhike.net/forum/photo/">驴光掠影</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pageRight">

            <!--相关活动-->
            <div class="box event">
                <div class="title">
                    <h1>他们的故事</h1>
                </div>
                <div class="content">
                    <ul class="clearfix">
                        <li>
                            <div class="image"><a href="/user/512963"><img alt="" src="http://c1.zdb.io/files/faces/63/user512963.jpg"></a></div>
                            <div class="text">
                                <h3><a href="http://www.doyouhike.net/forum/globe/2283374,0,0,1.html" title="">蓝色土耳其，热气球滑翔伞约起</a></h3>
                                <p><span><a href="#" class="info_user pr16" rel="info_user_512963">lqh56789</a></span><span>日期:2015-06-13</span></p>
                            </div>
                        </li>
                        <li>
                            <div class="image"><a href="/user/627590"><img alt="" src="http://c1.zdb.io/files/faces/f/5/f5a7abb47.jpg"></a></div>
                            <div class="text">
                                <h3><a href="http://www.doyouhike.net/forum/backpacking/1831247,0,0,1.html" title="">去赛里木湖看花海成片，去喀拉峻看“五花草甸”</a></h3>
                                <p><span><a href="#" class="info_user pr16" rel="info_user_627590">hua-hua</a></span><span>日期:2015-05-28</span></p>
                            </div>
                        </li>
                        <li>
                            <div class="image"><a href="/user/916548"><img alt="" src="http://c1.zdb.io/files/faces/0/a/0af4ca578.jpg"></a></div>
                            <div class="text">
                                <h3><a href="http://www.doyouhike.net/forum/globe/2283777,0,0,1.html" title="">土耳其约伴~~7月初出发</a></h3>
                                <p><span><a href="#" class="info_user pr16" rel="info_user_916548">lynne鱼摆摆</a></span><span>日期:2015-07-03</span></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="box publish">
                <div class="content"><a href="/event/event/add" class="button-large">我也要发布活动</a></div>
            </div>
            <!--近期活动-->
            <div class="box event">
                <div class="title">
                    <h1>近期活动</h1>
                </div>
                <div class="content">
                    <ul class="clearfix">
                        <li>
                            <div class="image"><a href="/user/151735"><img alt="" src="http://c1.zdb.io/files/faces/35/user151735.gif"></a></div>
                            <div class="text">
                                <h3><a href="http://www.doyouhike.net/forum/mountain/2282822,0,0,1.html">【走出户外】大雁顶</a></h3>
                                <p><span><a href="#" class="info_user pr16" rel="info_user_151735">安全宣导小组</a></span><span>出发:2015-05-17</span></p>
                            </div>
                        </li>
                        <li>
                            <div class="image"><a href="/user/151735"><img alt="" src="http://c1.zdb.io/files/faces/35/user151735.gif"></a></div>
                            <div class="text">
                                <h3><a href="http://www.doyouhike.net/forum/mountain/2282459,0,0,1.html">【讲座】夏季户外常见危险识别与处理</a></h3>
                                <p><span><a href="#" class="info_user pr16" rel="info_user_151735">安全宣导小组</a></span><span>出发:2015-05-19</span></p>
                            </div>
                        </li>
                        <li>
                            <div class="image"><a href="/user/362401"><img alt="" src="http://c1.zdb.io/files/faces/01/user362401.jpg"></a></div>
                            <div class="text">
                                <h3><a href="http://www.doyouhike.net/forum/mountain/2285457,0,0,1.html">【清洁山野】梧桐山（罗龙界）</a></h3>
                                <p><span><a href="#" class="info_user pr16" rel="info_user_362401">SZ星光</a></span><span>出发:2015-05-17</span></p>
                            </div>
                        </li>
                        <li>
                            <div class="image"><a href="/user/974870"><img alt="" src="http://c1.zdb.io/files/faces/e/1/e194031c6.jpg"></a></div>
                            <div class="text">
                                <h3><a href="http://www.doyouhike.net/forum/deepblue/1132556,0,0,1.html">端午仙本那潜水OW FD</a></h3>
                                <p><span><a href="#" class="info_user pr16" rel="info_user_974870">meir826</a></span><span>出发:2015-06-12</span></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--磨房每天在努力-->
            <div class="box news">
                <div class="title">
                    <h1>鲜农物语</h1>
                </div>
                <div class="content">
                    <ul>
                        <li class="overflow"><a href="/forum/helpdesk/2280694,0,0,0.html" title="磨房户外线路">泪奔，不要怕，仰头45度！</a> </li>
                        <li class="overflow"><a href="/forum/helpdesk/1/1098344,0,0,0.html" title="磨房户外指南">谁说人穷就要苦短，再苦也要微笑生活！</a> </li>
                        <li class="overflow"><a href="/dujia/" title="磨房潜水度假">来吧，我们谈谈理想！</a> </li>
                        <li class="overflow"><a href="/forum/helpdesk/965951,0,0,0.html" title="磨房触屏版上线">你好！色彩！</a></li>
                    </ul>
                </div>
            </div>


        </div>

    </div>
</div>
